@mixin crossTransition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin crossTransform($trans) {
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -ms-transform: $trans;
  -o-transform: $trans;
  transform: $trans;
}

@mixin crossFilter($filters) {
  -webkit-filter: $filters;
  -moz-filter: $filters;
  -ms-filter: $filters;
  -o-filter: $filters;
  filter: $filters;
}

@mixin crossBorder($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -ms-border-radius: $rad;
  -o-border-radius: $rad;
  border-radius: $rad;
}

@mixin crossShadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin crossGradient($gradient) {
  background: -webkit-$gradient;
  background: -moz-$gradient;
  background: -ms-$gradient;
  background: -o-$gradient;
  background: $gradient;
}

@mixin marginX($right, $left: $right) {
  margin-left: $left;
  margin-right: $right;
}

@mixin marginY($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin paddingX($right, $left: $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin paddingY($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}
