// custom imports
@import 'colors';
@import 'fonts';
@import 'metrics';
@import 'mixins';

// bootstrap imports
@import '../../ext_res/bootstrap/scss/bootstrap';

// encoding
@charset 'utf-8';

// sass
body {
  font-family: $font_body;
  background: #f6f6f6;
}

a {
  transition: all .3s;
}

nav {
  z-index: 1;
}

.sectionSplit {
  position: absolute;
  left: 50%;
  bottom: 0;
  @include crossTransform(translateY(50%) translateX(-50%));
}

.site-header {
  position: relative;
  height: 780px;
  margin-bottom: 5px;
}

.mobileItem {
  border: none;
  color: $primary;
  font-size: 28px;
  height: 65px;
  @media screen and (max-width: $md) {
    padding: 8px 24px;
  }
}

.deskItem {
  background: $white;
  margin: 3px -42px 0 -33px;
  @include paddingX(35px);
  & a {
    display: block;
    padding: 8px;
  }
  @media screen and (max-width: $md) {
    display: none;
  }
}

.navBar {
  border-bottom: 1px solid $light-gray;
  height: 65px;
  background: transparent;
  z-index: 3;
  @media screen and (max-width: $md) {
    padding: 0;
  }
}

.navbarNav {
  height: 65px;
  @media screen and (max-width: $md) {
    height: auto;
    border-bottom: 2px solid $darker-gray;
    @include crossShadow(4px 0 3px 0 rgba(0, 0, 0, 0.2));
  }
}

.navItem {
  margin: 28px 23px 0;
  @media screen and (max-width: $lg) {
    @include marginX(1vw);
  }
  @media screen and (max-width: $md) {
    margin: 0;
    &:not(:first-child) {
      border-top: 1px solid $dark-gray;
    }
  }
}

.navBar .navItem .navLink {
  font-size: 12px;
  font-weight: 600;
  color: $nav-btn;
  & svg {
    margin-left: 4px;
    @include crossTransition(transform .3s);
    &.up {
      @include crossTransform(rotate(180deg));
    }
  }
  &:hover,
  &:focus,
  &:active {
    color: $primary;
  }
  &::after {
    display: none;
  }
  @media screen and (max-width: $md) {
    padding: 15px 25px;
    background: $lighter-gray;
    &:hover,
    &:focus,
    &:active {
      background: $white;
    }
  }
}

.navBar .navItem .dropdownMenu {
  margin-top: -5px;
  background: $super-dark-gray;
  & .navLink {
    color: $white;
    &:hover,
    &:focus,
    &:active {
      color: $primary;
    }
    @media screen and (max-width: $md) {
      background: $dark-gray;
      color: $white;
      &:hover,
      &:focus,
      &:active {
        background: $white;
        color: $primary;
      }
    }
  }
  @media screen and (max-width: $md) {
    margin: 0;
    border: none;
    padding: 0;
  }
}

.secondaryNav {
  background: transparent;
  max-width: 1064px;
  margin: auto;
  padding-top: 13px;
}

.loginBtn {
  align-self: flex-start;
  background: $white;
  border: 2px solid $login-btn;
  color: $login-btn;
  font-size: 12px;
  padding: 5px 20px 7px 18px;
  font-weight: 600;
  &:hover,
  &:focus,
  &:active {
    background: $login-btn;
    color: $white;
  }
}

.socialNav {
  padding-top: 4px;
}

.searchBtn {
  display: inline-block;
  padding: 3px;
  line-height: 1;
  background: transparent;
  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.searchBox {
  margin-top: 10px;
  border-color: $secondary;
  padding: 5px;
  width: 0;
  opacity: 0;
  background: transparent;
  font-size: 12px;
  &:hover,
  &:focus,
  &:active {
    border-color: $primary;
  }
}

.socialLink {
  display: inline-block;
  margin-left: 9px;
  padding: 3px;
  line-height: 1;
  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.carouselHeader {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.carouselControlIcon {
  font-size: 40px;
  color: #333;
  &:hover,
  &:focus,
  &:active {
    color: #ec008c;
  }
}

.carouselIndicators {
  bottom: -16px;
  margin-bottom: 0;
  & li {
    @include crossBorder(50%);
    border: 6px solid rgba(60, 60, 60, 0.15);
    background: $lighter-gray;
    background-clip: padding-box;
    width: 24px;
    height: 24px;
    &:hover,
    &:focus,
    &:active {
      background: $darkish-gray;
      background-clip: padding-box;
    }
    &.active {
      background: $primary;
      background-clip: padding-box;
      width: 32px;
      height: 32px;
    }
  }
}

.carouselInner {
  & .carouselItem { // general for all slides
    & .carouselCaption {
      color: $slide-text;
      & h3 {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: $font_heading;
        font-size: 55.41px;
        font-weight: 500;
        text-shadow: 0 0 10px #fff;
        & .highlight {
          color: $primary;
          font-weight: 800;
        }
        @media screen and (max-width: $md) {
          font-size: 42px;
        }
        @media screen and (max-width: $sm) {
          font-size: 38px;
        }
      }
      & p {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        text-shadow: 0 0 10px #fff;
        line-height: 1.3;
        @media screen and (max-width: $md) {
          font-size: 16px;
        }
      }
    }
  }
  & .carouselItem:nth-child(1) { // specific for existing slide
    & .carouselCaption {
      top: 42%;
      left: auto;
      right: 21%;
      width: 630px;
      @media screen and (max-width: $md) {
        right: 15%;
        text-align: right;
        width: 500px;
      }
      @media screen and (max-width: $sm) {
        width: 450px;
      }
      @media screen and (max-width: $xs) {
        width: 70%;
      }
    }
  }
}

.courseSection,
.groupSection,
.privateSection,
.testimonialSection,
.actionBtnSection {
  @include make-container();
  position: relative;
  max-width: 1230px;
  margin: auto;
  @include paddingY(71px);
}

.courseTile {
  @include make-row();
  margin: 8px auto;
  @include crossBorder(5px);
  overflow: hidden;
  @include crossShadow(0 0 3px 2px #eee);
  &:nth-child(odd) {
    flex-flow: row;
    & .courseTileText {
      background-image: url('../../client_res/img/courses/bgOdd.png');
      background-position: 100% 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media screen and (max-width: $md) {
      flex-flow: column;
    }
  }
  &:nth-child(even) {
    flex-flow: row-reverse;
    & .courseTileText {
      background-image: url('../../client_res/img/courses/bgEven.png');
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media screen and (max-width: $md) {
      flex-flow: column;
    }
  }
  @media screen and (max-width: $md) {
    max-width: 600px;
  }
}

.courseTileImg {
  @include make-col-ready();
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  min-width: 0;
  padding: 0;
  & img {
    margin-left: 0;
    @media screen and (max-width: 1100px) {
      margin-left: -30%;
    }
    @media screen and (max-width: $md) {
      margin-left: 0;
    }
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
  }
}

.courseTileText {
  @include make-col-ready();
  flex: 1 0 50%;
  min-width: 600px;
  color: #585858;
  min-height: 503px;
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
  }
  @media screen and (max-width: 647px) {
    min-width: 0;
    flex: 1;
  }
}

.courseTileHead {
  margin: 80px 65px;
  @media screen and (max-width: $sm) {
    margin: 50px 10vw;
  }
  @media screen and (max-width: $xs) {
    margin: 50px 5vw;
  }
}

.courseIcon {
  @include make-col-ready();
  @include make-col(80, 440);
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.courseTileHeading {
  @include make-col-ready();
  @include make-col(360, 440);
  padding: 0 0 0 42px;
  margin-left: auto;
  display: inline-block;
  vertical-align: middle;
  font-family: $font_heading;
  text-transform: uppercase;
  & h1 {
    font-size: 36.24px;
    & .highlight {
      font-weight: 800;
    }
  }
  & h2 {
    font-size: 13.59px;
    color: #9b9b9b;
  }
  @media screen and (max-width: $xs) {
    padding: 0 0 0 5vw;
    & h1 {
      font-size: 27px;
    }
  }
}

.courseTileContent {
  margin: 80px 65px;
  font-size: 14px;
  & ul {
    margin-bottom: 0;
    padding-left: 0;
    line-height: 1.7;
    & li {
      background: url('../../client_res/img/courses/listIcon.png') 0 6px no-repeat;
      list-style: none;
      margin-top: 21px;
      padding-left: 32px;
    }
  }
  @media screen and (max-width: $sm) {
    margin: 50px 10vw;
  }
  @media screen and (max-width: $xs) {
    margin: 50px 5vw;
  }
}

.courseTileAction {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin: auto -15px;
  max-width: 600px;
  min-height: 100px;
  @include crossShadow(0 -2px 3px 0 #eee);
  @media screen and (max-width: $sm) {
    flex-wrap: wrap;
  }
}

.courseTilePrice,
.courseTileSeeMore {
  flex: 1 1 percentage(214/600);
  @include make-container();
  @media screen and (max-width: $sm) {
    flex: 1 1 60%;
    display: flex;
    flex-direction: row;
  }
}

.courseTilePrice {
  background: #e60089;
  color: #fbfbfb;
}

.courseInfo {
  @include make-row();
  flex-direction: column;
  & * {
    font-family: $font_body;
    font-size: 14px;
    line-height: 1;
  }
  & h1 {
    margin: 19px auto 5px 25px;
    font-weight: 700;
  }
  & h2 {
    margin: 0 auto 0 25px;
    font-weight: 400;
  }
  @media screen and (max-width: $sm) {
    flex: 1 1 80%;
    & h1 {
      margin: 19px 19px 0;
    }
    & h2 {
      margin: 0 19px 19px;
    }
  }
}

.coursePrice {
  @include make-row();
  flex-direction: column;
  & * {
    font-family: $font_body;
    font-weight: 200;
    line-height: 1;
  }
  & h1 {
    margin: 0 25px 0 auto;
    font-size: 20px;
    & .highlight {
      font-weight: 700;
    }
    @media screen and (max-width: 414px) {
      font-size: 16px;
    }
  }
  & h2 {
    margin: 0 74px 3px auto;
    font-size: 11px;
  }
  @media screen and (max-width: $sm) {
    flex: 1 1 20%;
    & h1 {
      margin: auto 19px 19px;
    }
    & h2 {
      margin: 19px 19px auto;
    }
  }
}

.courseTileSeeMore {
  background: #f9f9f9;
  color: #585858;
  & .seeMoreText {
    @include make-row();
    flex-direction: column;
    margin: 0 4px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    & p {
      margin: 0;
      font-family: $font_body;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.enrolBtn,
.seeMoreBtn {
  flex: 0 0 percentage(86/600);
  @include crossBorder(0);
  white-space: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  @media screen and (max-width: 414px) {
    font-size: 13px;
  }
}

.enrolBtn {
  background: #da0684;
  color: #fbfbfb;
  &:hover,
  &:focus,
  &:active {
    background: #b7066f;
  }
}

.seeMoreBtn {
  background: #ecebeb;
  color: #666;
  &:hover,
  &:focus,
  &:active {
    background: #ccc;
  }
}

.groupRow {
  @include make-row();
  justify-content: center;
  margin: auto;
  @include crossBorder(5px);
  overflow: hidden;
  @media screen and (max-width: $md) {
    max-width: 400px;
  }
}

.groupCol {
  @include make-col-ready();
  @include make-col(1, 3);
  overflow: hidden;
  display: flex;
  padding: 0;
  &:nth-child(odd) {
    flex-direction: column;
  }
  &:nth-child(even) {
    flex-direction: column-reverse;
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
    &:nth-child(even) {
      flex-direction: column;
    }
  }
}

.groupImg {
  align-self: center;
}

.groupSplit {
  position: absolute;
  left: 50%;
  top: 50%;
  @include crossTransform(translateX(-50%) translateY(-50%));
  border: 4px solid #fff;
  @include crossBorder(50%);
  width: 79px;
  height: 79px;
  line-height: 71px;
  text-align: center;
  background: #ec008c;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $raleway;
  font-weight: 600;
  font-size: 14.56px;
  @include crossTransition(all .3s);
  &:hover,
  &:focus,
  &:active {
    border-color: #ec008c;
    background: #fff;
    color: #ec008c;
    font-weight: 800;
  }
}

.groupText {
  background-image: url('../../client_res/img/groups/bgGroup.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  & h1 {
    margin: 24px auto;
    text-transform: uppercase;
    font-family: $raleway;
    font-size: 22px;
    color: #585858;
    & .highlight {
      font-weight: 800;
    }
  }
  & p {
    margin: 0 46px 12px;
    font-size: 12px;
    font-weight: 600;
    color: #515151;
  }
  & .seeMoreBtn {
    flex: 0;
    margin: 0 auto;
    @include crossBorder(5px);
    padding: 8px;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #ec008c;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background: #ec008c;
      color: #fff;
    }
  }
}

.bigBg {
  position: absolute;
  top: 50px;
  left: 50%;
  height: 1146px;
  width: 100%;
  @include crossTransform(translateX(-50%));
  background-image: url('../../client_res/img/bg/big2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $md) {
    background-image: url('../../client_res/img/bg/big.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.privateSection {
  @include paddingY(51px);
  max-width: 100%;
}

.privateRow {
  @include make-row();
  justify-content: center;
  margin: auto;
  max-width: 1230px;
}

.privateCol {
  @include make-col-ready();
  @include make-col(1, 3);
  overflow: hidden;
  @include marginY(20px);
  & h1 {
    margin-top: 26px;
    text-align: right;
    text-transform: uppercase;
    font-family: $raleway;
    font-size: 25px;
    color: #585858;
    @include crossTransition(all .3s);
    & .highlight {
      font-weight: 800;
    }
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 2);
    max-width: 410px;
  }
  @media screen and (max-width: $sm) {
    @include make-col(1, 1);
    max-width: 410px;
  }
  &:hover {
    & > .privateImg {
      background: rgba(236, 0, 140, 0.5);
    }
    & > h1 {
      text-decoration: underline;
    }
  }
}

.privateImg {
  max-width: 100%;
  overflow: hidden;
  &#privateBehaviour {
    background-image: url('../../client_res/img/private/dogBehaviour.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &#privateSports {
    background-image: url('../../client_res/img/private/dogSports.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &#privateTraining {
    background-image: url('../../client_res/img/private/advancedTraining.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 150%;
  }
  @include crossBorder(50% 50% 10px 50%);
  @include crossTransition(all .3s);
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.testimonialSection {
  padding-top: 55px;
  max-width: 1280px;
  & h1 {
    margin-bottom: 18px;
    font-family: $font_heading;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #ec008c;
    & .highlight {
      font-weight: 800;
    }
  }
}

.testimonialRow {
  @include make-row();
  justify-content: flex-end;
}

.testimonialCol {
  @include make-col-ready();
  @include make-col(570, 1120);
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
  }
}

.carouselTestimonial {
  padding-top: 50px;
}

.testimonialCarouselItem {
  padding: 0 15%;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
}

.testimonialCarouselCaption {
  & p {
    margin: 22px 0 14px;
    color: #585858;
    @media screen and (max-width: $xs) {
      font-size: 18px;
    }
  }
  & h1 {
    font-family: $font_body;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #777;
  }
}

.testimonialCarouselControl {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: #fff;
}

.actionBtnSection {
  padding-top: 0;
}

.actionBtnRow {
  @include make-row();
}

.actionBtnCol {
  @include make-col-ready();
  @include make-col(1, 3);
  margin: 30px auto;
  @media screen and (max-width: $xs) {
    @include make-col(1, 1);
  }
}

.actionBtn {
  position: relative;
  margin: auto;
  @include crossBorder(50%);
  max-width: 290px;
  width: 100%;
  max-height: 290px;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #9c9c9c;
  @include crossGradient(linear-gradient(#cbcbcb, #e8e8e8));
  &:before {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
  &:after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
  @include crossTransition(all .3s);
  &:hover {
    background-image: url('../../client_res/img/bigButtons/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105% 105%;
    color: #fff;
    @include crossShadow(0 0 2px 2px rgba(0,0,0,0.2));
  }
  & h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    @include crossTransform(translateX(-50%) translateY(-80%));
    font-size: 41px;
    font-weight: 700;
    @media screen and (max-width: $sm) {
      font-size: 32px;
    }
    @media screen and (max-width: $xs) {
      font-size: 41px;
    }
  }
  & h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    @include crossTransform(translateX(-50%) translateY(80%));
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    @media screen and (max-width: $sm) {
      font-size: 13px;
    }
    @media screen and (max-width: $xs) {
      font-size: 15px;
    }
  }
}

.eBookBanner {
  @include make-container();
  background-image: url('../../client_res/img/banner/bgEbook.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.eBookContainer {
  @include make-row();
  justify-content: center;
  align-items: center;
  margin: auto;
  @include paddingY(20px);
  max-width: 1100px;
  min-height: 187px;
}

.eBookText {
  @include make-col-ready();
  @include make-col(750, 1100);
  @include marginY(10px);
  & h1 {
    font-size: 46.7px;
    font-weight: 700;
    color: #ec008c;
    text-transform: uppercase;
  }
  & h2 {
    font-size: 35.77px;
    font-weight: 600;
    color: #8a8a8a;
    text-transform: uppercase;
  }
  @media screen and (max-width: $lg) {
    & h1 {
      font-size: 38px;
    }
    & h2 {
      font-size: 30px;
    }
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
    text-align: center;
  }
  @media screen and (max-width: $sm) {
    & h1 {
      font-size: 32px;
    }
    & h2 {
      font-size: 26px;
    }
  }
}

.eBookBtn {
  @include make-col-ready();
  @include make-col(350, 1100);
  @include marginY(10px);
  text-align: right;
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
    text-align: center;
  }
}

.eBookDownloadBtn {
  background: transparent;
  color: #ec008c;
  border: 6px solid #ec008c;
  @include crossBorder(41.5px);
  font-size: 22.6px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 296px;
  width: 100%;
  height: 83px;
  &:hover,
  &:focus,
  &:active {
    background: #ec008c;
    color: #fff;
  }
}

.subscriptionBanner {
  background: #373737;
}

.subscriptionContainer {
  @include make-row();
  justify-content: center;
  align-items: center;
  max-width: 1230px;
  min-height: 175px;
  margin: auto;
  @include paddingY(15px);
}

.bannerIcon {
  @include make-col-ready();
  @include make-col(1, 9);
  position: relative;
  margin: 15px auto;
  & p {
    position: absolute;
    top: 50%;
    left: 50%;
    @include crossTransform(translateX(-50%) translateY(-50%));
    margin: 0 -7.5px; // because of the column's 15px padding
    text-transform: uppercase;
    text-align: center;
    font-size: 13.78px;
    font-weight: 600;
  }
  @media screen and (max-width: $md) {
    @include make-col(2, 9);
    text-align: center;
  }
  @media screen and (max-width: $sm) {
    @include make-col(2, 6);
  }
}

.subscriptionText {
  @include make-col-ready();
  @include make-col(2, 9);
  margin: 15px auto;
  & h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    color: #fff;
  }
  @media screen and (max-width: $md) {
    @include make-col(7, 9);
  }
  @media screen and (max-width: $sm) {
    @include make-col(4, 6);
  }
  @media screen and (max-width: $xs) {
    & h1 {
      font-size: 22px;
    }
  }
}

.subscriptionEmail {
  @include make-col-ready();
  @include make-col(475, 1230);
  margin: 15px auto;
  @media screen and (max-width: $md) {
    flex: 1 1 50%;
    max-width: 50%;
  }
  @media screen and (max-width: $sm) {
    @include make-col(1, 1);
  }
}

.subscriptionBox {
  padding-left: 15px;
  width: 100%;
  height: 57px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  @include crossShadow(0 2px 3px 3px rgba(0, 0, 0, 0.1));
}

.subscriptionBtn {
  @include make-col-ready();
  @include make-col(255, 1230);
  margin: 15px auto;
  @media screen and (max-width: $md) {
    flex: 0 0 255px;
    width: 255px;
    max-width: 255px;
  }
  @media screen and (max-width: $sm) {
    @include make-col(1, 1);
    text-align: center;
  }
}

.subscribeBtn {
  max-width: 225px;
  width: 100%;
  height: 57px;
  background: #ec008c;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  @include crossBorder(29.5px);
  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #ec008c;
  }
}

.site-footer {
  @include make-container();
  background: #373737;
  border-top: 2px solid #2d2d2d;
}

.footer-nav {
  @include make-row();
  max-width: $site-width;
  margin: auto;
  padding: 68px 0;
  justify-content: center;
}

.footer-head {
  @include make-col-ready();
  @media screen and (min-width: 1330px) {
      @include make-col(1, 7);
  }
  @media screen and (max-width: 1329px) {
      @include make-col(1, 1);
      margin-bottom: 35px;
  }
  padding: 0 13px;
  vertical-align: text-top;
  text-align: center;
  & .social-container {
    margin-top: 15px;
    & .socialLink {
      @include marginX(0);
    }
  }
}

.footer-col {
  @include make-col-ready();
  padding: 0 13px;
  vertical-align: text-top;
  text-align: left;
  & h1 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #9b9b9b;
    margin: 0;
  }
  & ul {
    padding-left: 0;
    @include marginY(12px);
    & li {
      list-style: none;
      & ul {
       padding-left: 12px;
       @include marginY(0);
      }
    }
  }
  @media screen and (min-width: 1330px) {
    @include make-col(1, 7);
  }
  @media screen and (max-width: 1329px) {
    @include make-col(1, 6);
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 3);
    margin-top: 20px;
  }
  @media screen and (max-width: $xs) {
    @include make-col(1, 2);
  }
  @media screen and (max-width: $xxs) {
    @include make-col(1, 1);
    text-align: center;
    & ul {
      padding-left: 0;
      @include marginY(12px);
      & li {
        list-style: none;
        & ul {
         padding-left: 0;
         @include marginY(0);
        }
      }
    }
  }
}

.footer-link {
  display: block;
  margin: 0;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #696969; //#807f7f;
  line-height: 2;
  padding-left: 16px;
  text-indent: -16px;
  @include crossTransition(none);
  &::first-line {
    color: #767575;
  }
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: none;
    &::first-line {
      color: #fff;
      text-decoration: none;
    }
  }
}

.copyright {
  @include make-row();
  justify-content: center;
  border-top: 2px solid #2d2d2d;
  @include paddingY(30px);
  background: #313131;
  color: #373737;
  font-size: 12px;
  cursor: default;
  @include crossTransition(all .3s);
  &:hover {
    color: $light-gray;
  }
}
