// custom imports
@import 'colors';
@import 'fonts';
@import 'metrics';
@import 'mixins';

// bootstrap imports
@import '../../ext_res/bootstrap/scss/bootstrap';

// encoding
@charset 'utf-8';

// sass
body {
  font-family: $font_body;
  background: #f6f6f6;
}

a {
  transition: all .3s;
}

nav {
  z-index: 1;
}

.sectionSplit {
  position: absolute;
  left: 50%;
  bottom: 0;
  @include crossTransform(translateY(50%) translateX(-50%));
}

.site-header {
  position: relative;
  height: 780px;
  margin-bottom: 5px;
}

.mobileItem {
  border: none;
  color: $primary;
  font-size: 28px;
  height: 65px;
  @media screen and (max-width: $md) {
    padding: 8px 24px;
  }
}

.deskItem {
  background: $white;
  margin: 3px -42px 0 -33px;
  @include paddingX(35px);
  & a {
    display: block;
    padding: 8px;
  }
  @media screen and (max-width: $md) {
    display: none;
  }
}

.navBar {
  border-bottom: 1px solid $light-gray;
  height: 65px;
  background: transparent;
  z-index: 3;
  @media screen and (max-width: $md) {
    padding: 0;
  }
}

.navbarNav {
  height: 65px;
  @media screen and (max-width: $md) {
    height: auto;
    border-bottom: 2px solid $darker-gray;
    @include crossShadow(4px 0 3px 0 rgba(0, 0, 0, 0.2));
  }
}

.navItem {
  margin: 28px 23px 0;
  @media screen and (max-width: $lg) {
    @include marginX(1.1vw);
  }
  @media screen and (max-width: $md) {
    margin: 0;
    &:not(:first-child) {
      border-top: 1px solid $dark-gray;
    }
  }
}

.navBar .navItem .navLink {
  font-size: 12px;
  font-weight: 600;
  color: $nav-btn;
  &:hover,
  &:focus,
  &:active {
    color: $primary;
  }
  &::after {
    border: none;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-image: url('../../client_res/img/icon/dropDown.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include crossFilter(grayscale(100%)); // TODO not working
  }
  @media screen and (max-width: $md) {
    padding: 15px 25px;
    background: $lighter-gray;
    &:hover,
    &:focus,
    &:active {
      background: $darkish-gray;
    }
  }
}

.navBar .navItem .dropdownMenu {
  @media screen and (max-width: $md) {
    margin: 0;
    border: none;
    padding: 0;
  }
  & .navLink {
    @media screen and (max-width: $md) {
      background: $dark-gray;
      color: $white;
      &:hover,
      &:focus,
      &:active {
        background: $super-dark-gray;
        color: $primary;
      }
    }
  }
}

.secondaryNav {
  background: transparent;
  max-width: 1064px;
  margin: auto;
  padding-top: 13px;
}

.loginBtn {
  align-self: flex-start;
  background: $white;
  border: 2px solid $login-btn;
  color: $login-btn;
  font-size: 12px;
  padding: 5px 20px 7px 18px;
  font-weight: 600;
  &:hover,
  &:focus,
  &:active {
    background: $login-btn;
    color: $white;
  }
}

.socialNav {
  padding-top: 4px;
}

.searchBtn {
  display: inline-block;
  padding: 3px;
  line-height: 1;
  background: transparent;
  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.searchBox {
  margin-top: 10px;
  border-color: $secondary;
  padding: 5px;
  width: 0;
  opacity: 0;
  background: transparent;
  font-size: 12px;
  &:hover,
  &:focus,
  &:active {
    border-color: $primary;
  }
}

.socialLink {
  display: inline-block;
  margin-left: 9px;
  padding: 3px;
  line-height: 1;
  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.carouselHeader {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.carouselControlIcon {
  font-size: 40px;
  color: #333;
  &:hover,
  &:focus,
  &:active {
    color: #ec008c;
  }
}

.carouselIndicators {
  bottom: -16px;
  margin-bottom: 0;
  & li {
    @include crossBorder(50%);
    border: 6px solid rgba(60, 60, 60, 0.15);
    background: $lighter-gray;
    background-clip: padding-box;
    width: 24px;
    height: 24px;
    &:hover,
    &:focus,
    &:active {
      background: $darkish-gray;
      background-clip: padding-box;
    }
    &.active {
      background: $primary;
      background-clip: padding-box;
      width: 32px;
      height: 32px;
    }
  }
}

.carouselInner {
  & .carouselItem { // general for all slides
    & .carouselCaption {
      color: $slide-text;
      & h3 {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: $font_heading;
        font-size: 55.41px;
        font-weight: 500;
        text-shadow: 0 0 10px #fff;
        & .highlight {
          color: $primary;
          font-weight: 800;
        }
        @media screen and (max-width: $md) {
          font-size: 42px;
        }
        @media screen and (max-width: $sm) {
          font-size: 38px;
        }
      }
      & p {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        text-shadow: 0 0 10px #fff;
        line-height: 1.3;
        @media screen and (max-width: $md) {
          font-size: 16px;
        }
      }
    }
  }
  & .carouselItem:nth-child(1) { // specific for existing slide
    & .carouselCaption {
      top: 42%;
      left: auto;
      right: 21%;
      width: 630px;
      @media screen and (max-width: $md) {
        right: 15%;
        text-align: right;
        width: 500px;
      }
      @media screen and (max-width: $sm) {
        width: 450px;
      }
      @media screen and (max-width: $xs) {
        width: 70%;
      }
    }
  }
}

.courseSection,
.groupSection,
.privateSection,
.testemonialSection,
.actionBtnSection {
  @include make-container();
  position: relative;
  max-width: 1230px;
  margin: auto;
  @include paddingY(71px);
}

.courseTile {
  @include make-row();
  margin: 8px auto;
  @include crossBorder(5px);
  overflow: hidden;
  @include crossShadow(0 0 3px 2px #eee);
  &:nth-child(odd) {
    flex-flow: row;
    & .courseTileText {
      background-image: url('../../client_res/img/courses/bgOdd.png');
      background-position: 100% 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media screen and (max-width: $md) {
      flex-flow: column;
    }
  }
  &:nth-child(even) {
    flex-flow: row-reverse;
    & .courseTileText {
      background-image: url('../../client_res/img/courses/bgEven.png');
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media screen and (max-width: $md) {
      flex-flow: column;
    }
  }
  @media screen and (max-width: $md) {
    max-width: 600px;
  }
}

.courseTileImg {
  @include make-col-ready();
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  min-width: 0;
  padding: 0;
  & img {
    margin-left: 0;
    @media screen and (max-width: 1100px) {
      margin-left: -30%;
    }
    @media screen and (max-width: $md) {
      margin-left: 0;
    }
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
  }
}

.courseTileText {
  @include make-col-ready();
  flex: 1 0 50%;
  min-width: 600px;
  color: #585858;
  min-height: 503px;
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
  }
  @media screen and (max-width: 647px) {
    min-width: 0;
    flex: 1;
  }
}

.courseTileHead {
  margin: 80px 65px;
  @media screen and (max-width: $sm) {
    margin: 50px 10vw;
  }
  @media screen and (max-width: $xs) {
    margin: 50px 5vw;
  }
}

.courseIcon {
  @include make-col-ready();
  @include make-col(80, 440);
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.courseTileHeading {
  @include make-col-ready();
  @include make-col(360, 440);
  padding: 0 0 0 42px;
  margin-left: auto;
  display: inline-block;
  vertical-align: middle;
  font-family: $font_heading;
  text-transform: uppercase;
  & h1 {
    font-size: 36.24px;
    & .highlight {
      font-weight: 800;
    }
  }
  & h2 {
    font-size: 13.59px;
    color: #9b9b9b;
  }
  @media screen and (max-width: $xs) {
    padding: 0 0 0 5vw;
    & h1 {
      font-size: 27px;
    }
  }
}

.courseTileContent {
  margin: 80px 65px;
  font-size: 14px;
  & ul {
    margin-bottom: 0;
    padding-left: 0;
    line-height: 1.7;
    & li {
      background: url('../../client_res/img/courses/listIcon.png') 0 6px no-repeat;
      list-style: none;
      margin-top: 21px;
      padding-left: 32px;
    }
  }
  @media screen and (max-width: $sm) {
    margin: 50px 10vw;
  }
  @media screen and (max-width: $xs) {
    margin: 50px 5vw;
  }
}

.courseTileAction {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin: auto -15px;
  max-width: 600px;
  min-height: 100px;
  @include crossShadow(0 -2px 3px 0 #eee);
  @media screen and (max-width: $sm) {
    flex-wrap: wrap;
  }
}

.courseTilePrice,
.courseTileSeeMore {
  flex: 1 1 percentage(214/600);
  @include make-container();
  @media screen and (max-width: $sm) {
    flex: 1 1 60%;
    display: flex;
    flex-direction: row;
  }
}

.courseTilePrice {
  background: #e60089;
  color: #fbfbfb;
}

.courseInfo {
  @include make-row();
  flex-direction: column;
  & * {
    font-family: $font_body;
    font-size: 14px;
    line-height: 1;
  }
  & h1 {
    margin: 19px auto 5px 25px;
    font-weight: 700;
  }
  & h2 {
    margin: 0 auto 0 25px;
    font-weight: 400;
  }
  @media screen and (max-width: $sm) {
    flex: 1 1 80%;
    & h1 {
      margin: 19px 19px 0;
    }
    & h2 {
      margin: 0 19px 19px;
    }
  }
}

.coursePrice {
  @include make-row();
  flex-direction: column;
  & * {
    font-family: $font_body;
    font-weight: 200;
    line-height: 1;
  }
  & h1 {
    margin: 0 25px 0 auto;
    font-size: 20px;
    & .highlight {
      font-weight: 700;
    }
    @media screen and (max-width: 414px) {
      font-size: 16px;
    }
  }
  & h2 {
    margin: 0 74px 3px auto;
    font-size: 11px;
  }
  @media screen and (max-width: $sm) {
    flex: 1 1 20%;
    & h1 {
      margin: auto 19px 19px;
    }
    & h2 {
      margin: 19px 19px auto;
    }
  }
}

.courseTileSeeMore {
  background: #f9f9f9;
  color: #585858;
  & .seeMoreText {
    @include make-row();
    flex-direction: column;
    margin: 0 4px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    & p {
      margin: 0;
      font-family: $font_body;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.enrollBtn,
.seeMoreBtn {
  flex: 0 0 percentage(86/600);
  @include crossBorder(0);
  white-space: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  @media screen and (max-width: 414px) {
    font-size: 13px;
  }
}

.enrollBtn {
  background: #da0684;
  color: #fbfbfb;
  &:hover,
  &:focus,
  &:active {
    background: #b7066f;
  }
}

.seeMoreBtn {
  background: #ecebeb;
  color: #666;
  &:hover,
  &:focus,
  &:active {
    background: #ccc;
  }
}

.groupRow {
  @include make-row();
  justify-content: center;
  margin: auto;
  @include crossBorder(5px);
  overflow: hidden;
  @media screen and (max-width: $md) {
    max-width: 400px;
  }
}

.groupCol {
  @include make-col-ready();
  @include make-col(1, 3);
  overflow: hidden;
  display: flex;
  padding: 0;
  &:nth-child(odd) {
    flex-direction: column;
  }
  &:nth-child(even) {
    flex-direction: column-reverse;
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 1);
    &:nth-child(even) {
      flex-direction: column;
    }
  }
}

.groupImg {
  align-self: center;
}

.groupSplit {
  position: absolute;
  left: 50%;
  top: 50%;
  @include crossTransform(translateX(-50%) translateY(-50%));
  border: 4px solid #fff;
  @include crossBorder(50%);
  width: 79px;
  height: 79px;
  line-height: 71px;
  text-align: center;
  background: #ec008c;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $raleway;
  font-weight: 600;
  font-size: 14.56px;
  @include crossTransition(all .3s);
  &:hover,
  &:focus,
  &:active {
    border-color: #ec008c;
    background: #fff;
    color: #ec008c;
    font-weight: 800;
  }
}

.groupText {
  background-image: url('../../client_res/img/groups/bgGroup.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  & h1 {
    margin: 24px auto;
    text-transform: uppercase;
    font-family: $raleway;
    font-size: 22px;
    color: #585858;
    & .highlight {
      font-weight: 800;
    }
  }
  & p {
    margin: 0 46px 12px;
    font-size: 12px;
    font-weight: 600;
    color: #515151;
  }
  & .seeMoreBtn {
    flex: 0;
    margin: 0 auto;
    @include crossBorder(5px);
    padding: 8px;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #ec008c;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background: #ec008c;
      color: #fff;
    }
  }
}

.bigBg {
  position: absolute;
  top: 50px;
  left: 50%;
  height: 1146px;
  width: 1906px;
  @include crossTransform(translateX(-50%));
  background-image: url('../../client_res/img/bg/big2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.privateSection {
  @include paddingY(51px);
}

.privateRow {
  @include make-row();
  justify-content: center;
  margin: auto -15px;
  max-width: 1230px;
}

.privateCol {
  @include make-col-ready();
  @include make-col(1, 3);
  overflow: hidden;
  @include marginY(20px);
  & h1 {
    margin-top: 26px;
    text-align: right;
    text-transform: uppercase;
    font-family: $raleway;
    font-size: 25px;
    color: #585858;
    & .highlight {
      font-weight: 800;
    }
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 2);
    max-width: 410px;
  }
  @media screen and (max-width: $sm) {
    @include make-col(1, 1);
    max-width: 410px;
  }
}

.privateImg {
  max-width: 100%;
  /* temp solution */
    height: 380px;
    object-fit: cover;
  /* uncomment this block and remove block above when photos are square
    height: auto;
    */
  @include crossBorder(50% 50% 10px 50%);
}

.testemonialSection {
  padding-top: 55px;
  & h1 {
    margin-bottom: 68px;
    font-family: $font_heading;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #ec008c;
    & .highlight {
      font-weight: 800;
    }
  }
}

.testemonialRow {
  @include make-row();
  justify-content: flex-end;
}

.testemonialCol {
  @include make-col-ready();
  @include make-col(600, 1120);
}

.testemonialCarouselItem {
  padding: 0 10%; // TODO get this right
  text-align: center;
}

.testemonialCarouselControl {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
}

.userImg {
}

.testemonialCarouselCaption {
}

.site-footer {
  @include make-container();
  background: #373737;
}

.footer-nav {
  @include make-row();
  max-width: $site-width;
  margin: auto;
  padding: 68px 0;
  justify-content: center;
  border-top: 2px solid #2d2d2d;
}

.footer-head {
  @include make-col-ready();
  @media screen and (min-width: 1330px) {
      @include make-col(1, 7);
  }
  @media screen and (max-width: 1329px) {
      @include make-col(1, 1);
      margin-bottom: 35px;
  }
  padding: 0 13px;
  vertical-align: text-top;
  text-align: center;
  & .social-container {
    margin-top: 15px;
    & .socialLink {
      @include marginX(0);
    }
  }
}

.footer-col {
  @include make-col-ready();
  padding: 0 13px;
  vertical-align: text-top;
  text-align: left;
  & h1 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #9b9b9b;
    margin: 0;
  }
  & ul {
    padding-left: 0;
    @include marginY(12px);
    & li {
      list-style: none;
      & ul {
       padding-left: 12px;
       @include marginY(0);
      }
    }
  }
  @media screen and (min-width: 1330px) {
    @include make-col(1, 7);
  }
  @media screen and (max-width: 1329px) {
    @include make-col(1, 6);
  }
  @media screen and (max-width: $md) {
    @include make-col(1, 3);
    margin-top: 20px;
  }
  @media screen and (max-width: $xs) {
    @include make-col(1, 2);
  }
  @media screen and (max-width: $xxs) {
    @include make-col(1, 1);
    text-align: center;
    & ul {
      padding-left: 0;
      @include marginY(12px);
      & li {
        list-style: none;
        & ul {
         padding-left: 0;
         @include marginY(0);
        }
      }
    }
  }
}

.footer-link {
  @include paddingY(6px);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: none;
  }
  li & {
    color: #767575;
  }
  li li & {
    color: #696969;
  }
}

.copyright {
  @include make-row();
  justify-content: center;
  border-top: 2px solid #2d2d2d;
  @include paddingY(30px);
  background: #313131;
  color: #373737;
  font-size: 12px;
  cursor: default;
  @include crossTransition(all .3s);
  &:hover {
    color: $light-gray;
  }
}
